image:
  repository: ghcr.io/cloudzero/cloudzero-agent
  tag: 0.0.13
  pullPolicy: IfNotPresent

clusterName: cluster_name

resources:
  limits:
    cpu: 100m
    memory: 300Mi
  requests:
    cpu: 50m
    memory: 50Mi

serviceAccount:
  create: true
  name:

hostNetwork: true

nodeSelector: {}

tolerations: []

affinity: {}

# For bottlerocket OS (https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContainerInsights-troubleshooting.html#ContainerInsights-troubleshooting-bottlerocket)
#containerdSockPath: /run/dockershim.sock
containerdSockPath:

annotations: {}

priorityClassName:

agentConfig: {}

imagePullSecrets: []

# Additional labels to add to the pods:
# podLabels:
#   key: value
podLabels: {}

# Additional labels to add to the DaemonSet:
# daemonsetLabels:
#   key: value
daemonsetLabels: {}