image:
  repository: ghcr.io/cloudzero/cloudzero-agent
  tag: 0.0.12
  pullPolicy: Always

clusterName: cluster_name

resources:
  limits:
    cpu: 100m
    memory: 300Mi
  requests:
    cpu: 50m
    memory: 50Mi

serviceAccount:
  create: true
  name:

hostNetwork: true

securityContext:
  runAsUser: 0  # root
  capabilities:
    add: ["ALL"]
  readOnlyRootFilesystem: false

nodeSelector: {}

tolerations: []

affinity: {}

# For bottlerocket OS (https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContainerInsights-troubleshooting.html#ContainerInsights-troubleshooting-bottlerocket)
#containerdSockPath: /run/dockershim.sock
containerdSockPath:

annotations: {}

priorityClassName:

agentConfig: {}

imagePullSecrets: []
